$primary-color: #0000FF;
$secondary-color: #888888;
$success-color: #00AA00;
$danger-color: #FF0000;
$warning-color: #FFFF00;
$info-color: #00FFFF;
$light-color: #FFFFFF;
$dark-color: #000000;

$spacing: 4px;